

.__trending{
    margin-top: calc(100vh + 800px);
    position: relative;
    z-index: 100;
    overflow: hidden;
    background-color: #FFFFFF;
    height: 1500px;
}

.__trending--background{
    position: absolute;
    inset: -800px 0px;
    will-change: transform;
    background: red;
    transform: translateY(-150px);
}
