.info-text span:not(.info-text span:last-child)::after{
    content: "•";
    /*position: absolute;*/
    /*display: inline-block;*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*border-radius: 50%;*/
    /*top: 50%;*/
    /*!*left: 50%;*!*/
    /*transform: translate(-50%, -50%);*/
    color: #cacaca;
    padding-left: 10px;
    text-decoration: none!important;


    /*font-size: 1.1em;*/
    /*line-height: 1;*/
    /*content: "•";*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 7px;*/
    /*display: inline-flex;*/
    /*align-content: center;*/
    /*align-items: center;*/
    /*z-index: -1;*/
}

.info-text{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.info-text span{
    position: relative;
    cursor: pointer;
}

.info-text span:hover{
    text-decoration: underline;
}