p{
    margin: 0;
}

.trending{
    /* height: 500px; */
}

.titleTrending{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: end;
}

.dayOrWeek{
    display: flex;
    gap: 10px;
}

.trendingContainer{
    width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listContainer{
    display: flex;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    /* overflow-x: auto; */
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 20px;
    padding-bottom: 80px;
    padding-top: 60px;
    /* width: 180px; */
}

.trendingText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.movieInList{
    transition: margin .3s ease-in;
    /* transition: margin .3s linear, scale .3 ease-out; */
    transition: margin-left .3s ease-in, padding-left .3s linear;
    position: relative;
}

.imgList img{
    border-radius: 16px;
}

.imgList{
    position: relative;
}

.iconList{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

.iconList .score{
    display: none;
}

.nameList{
    color: white;
}

.nameList:hover{
    color: aqua;
}

span.genreElement:hover{
    opacity: 1;
}

.genreList{
    display: flex;
    
    align-items: end;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}

.genreList>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-bottom: 20px;
}

.movieInList:hover .imgList img{
    filter: brightness(60%);
    /* background-color: red; */
}

.movieInList:hover .genreList{
    opacity: 1;
}

.movieInList:hover{
    z-index: 11;
    

    /* position: absolute;
    top: 0;
    left: 0; */
    /* padding-left: 40px; */
    /* margin-right: 40px;
    padding-right: 75px; */

    /* margin-left: 40px; */
    padding-left: 40px;
    margin-right: 200px;
}

.inList{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    gap: 10px;
    flex-basis: 200px;
    align-items: start;
    /* transition: scale .3s ease-out, opacity 1s linear; */
}

.movieInList:hover .inList{
    position: absolute;
    scale: 1.3;

}

.movieInList:hover +.movieInList{
    /* margin-left: 20px; */
    padding-left: 20px;
    /* padding-left: 200px; */
}

.nameList p {
    word-break: break-word;
    white-space: normal;
}